@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* Outfit */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

/* Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* Space Grotesk */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");


:root {
    --red: hsl(14, 86%, 42%);
    --white: hsl(0, 0%, 100%);

    --primary: hsl(200, 13%, 23%);
    --secondary: hsl(204, 77%, 26%);

    --pj-links-color: hsl(205, 50%, 95%);
    --pj-title-color: hsl(240 10% 3.9%);

    --font-size-100: 0.5rem;
    --font-size-200: 0.75rem;
    --font-size-300: 0.95rem;
    --font-size-300: 1rem;
    --font-size-500: 1.2rem;
    --font-size-600: 1.5rem;
    --font-size-700: 2rem;
    --font-size-800: 2.5rem;

    --font-weight-normal: 500;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

span {
    margin-left: .2em;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    cursor: pointer;
}

.content {
    margin-inline: 4rem;
    margin-block: 3rem;
}

.link {
    margin-bottom: 3em;
}

#links {
    display: flex;
    text-wrap: nowrap;
    gap: 1em;
}

#a-links {
    width: 12px;
}


.exercise-1 {
    max-width: 100%;
    gap: 3em;
}

.exercise__img-container {
    width: 100%;
    display: flex;
    justify-content: center;  
    gap: 2em;
}

.exercise3__img, .exercise3-1__img{
   width: 650px;

}

.exercise__title {
    font-size: var(--font-size-500);
    margin-bottom: 1em;
}

.exercise__reflection {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

.exercise3__learnings {
    display: flex;
    flex-direction: column;
    line-height: 1.3em;
    flex-wrap: wrap;    

}

.exercise3__learnings li, .exercise2__learnings li {
    max-width: 100%;      /* optional: limit width */
    padding: 0.5rem;
}


