@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    --red: hsl(14, 86%, 42%);
    --white: hsl(0, 0%, 100%);

    --primary: hsl(200, 13%, 23%);
    --secondary: hsl(204, 77%, 26%);

    --pj-links-color: hsl(205, 50%, 95%);
    --pj-title-color: hsl(240 10% 3.9%);

    --font-size-100: 0.5rem;
    --font-size-200: 0.75rem;
    --font-size-300: 0.95rem;
    --font-size-300: 1rem;
    --font-size-500: 1.2rem;
    --font-size-600: 1.5rem;
    --font-size-700: 2rem;
    --font-size-800: 2.5rem;

    --font-weight-normal: 500;
    --font-weight-bold: 700;
}


* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
body {
    font-family: "Inter", system-ui, sans-serif;
    cursor: pointer;
}


.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 10rem;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    flex-direction: column;
    gap: 2rem;
}

.message {
    text-align: center;
    width: 75%;
    line-height: 1.5rem;
}

.content_items {
    display: flex;
    gap: 6em;
}

.navbar__link {
   width: 100%;
}

.navbar__link:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

#prelim, #midterm, #final {
    padding-block: 4em;
    padding-inline: 2em;
    background-color: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: .5rem;
}


.footer {
    margin-top: 12rem;
    font-size: var(--font-size-200);
}