@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    --red: hsl(14, 86%, 42%);
    --white: hsl(0, 0%, 100%);

    --primary: hsl(200, 13%, 23%);
    --secondary: hsl(204, 77%, 26%);

    --pj-links-color: hsl(205, 50%, 95%);
    --pj-title-color: hsl(240 10% 3.9%);

    --font-size-100: 0.5rem;
    --font-size-200: 0.75rem;
    --font-size-300: 0.95rem;
    --font-size-300: 1rem;
    --font-size-500: 1.2rem;
    --font-size-600: 1.5rem;
    --font-size-700: 2rem;
    --font-size-800: 2.5rem;

    --font-weight-normal: 500;
    --font-weight-bold: 700;
}

* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    cursor: pointer;
}

#header {
    position: sticky;
    top: 0;
    background-color: var(--white);
}
.navbar__list {
    display: flex;
    justify-content: center;
    font-size: var(--font-size-200);
    line-height: 4rem;
    gap: 2rem;
}
.prelim_content {
    display: flex;
    flex-direction: column;
    padding-inline: 6rem;
    gap: 5rem;
}

.semester_activities, .prelim_quiz-exam{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.activities {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.prelim-title {
    text-align: center;
    margin-bottom: 4rem;
    font-size: var(--font-size-600);
}

.activity-1 {
    width: 100%;
}

.act_title {
    font-size: var(--font-size-600);
    font-weight: 500;
    margin-bottom: 2rem;
}


.act-1{
   display: flex;
   max-width: 100%;
}

.prelim-quiz, .prelim-exam {
    display: flex;
    max-width: 50%;
}


.reflection {
    line-height: 1.5rem;
    text-align: center;
    font-size: var(--font-size-500);
}

#prelim_reflection {
    line-height: 1.5em;
    text-align: center;
    margin-block: 4rem;
    font-size: var(--font-size-500);

}